<div class="private-page-wrapper">
  <div class="navbar" [class.search-opened]="isSearchOpen()">
    <div class="start">
      @if (!isSearchOpen()) {
        <label class="hamburger" (click)="onToggleSidebarClick()">&#9776;</label>
        <h1>FitTrack</h1>
      }
    </div>
    <div class="center">
      @if (!isSearchOpen() && isMobile()) {
        <mat-icon (click)="onToggleSearchClick()">search</mat-icon>
      } @else {
        @if (isSearchOpen()) {
          <mat-icon (click)="onToggleSearchClick()">arrow_back</mat-icon>
        }
        <div class="search-bar">
          <input class="input input-search" placeholder="Search" />
          <mat-icon class="input-search-icon">search</mat-icon>
        </div>
      }
    </div>
    <div class="end">
      @if (!isSearchOpen()) {
        <mat-icon>flag</mat-icon>
        <div class="profile-picture-container">
        @if (userInitials()) {
          <div class="profile-picture" (click)="onToggleDropdownClick()">
            {{userInitials()}}
          </div>
        }
        @if (isDropdownOpen()) {
          <app-navbar-dropdown (onCloseDropdown)="onToggleDropdownClick()">
          </app-navbar-dropdown>
        }
        </div>
      }
    </div>
  </div>
  <div class="content-wrapper">
    <div
      class="sidebar"
      [class.open]="isSidebarOpen()"
      [class.collapsed]="isCollapsed()"
    >
      <div class="sidebar-navigation">
        @if (isMobile()) {
          <div class="sidebar-header">
            <label class="hamburger" (click)="onToggleSidebarClick()">&#9776;</label>
            <h1>FitTrack</h1>
          </div>
        }
        <div class="sidebar-sections">
          @for (section of sidebarSections(); track section.title) {
            @if (section.title) {
              <hr />
              <div class="sidebar-section-header">
                <span>{{ section.title }}</span>
              </div>
            }

            <ul>
              @for (item of section.items; track item.route) {
                <li
                  [routerLink]="item.route"
                  routerLinkActive="active"
                  (click)="onNavigateClick()"
                >
                  <mat-icon>{{ item.icon }}</mat-icon>
                  @if (!isCollapsed()) {
                    <span>{{ item.label }}</span>
                  }
                </li>
              }
            </ul>
          }
        </div>
      </div>
    </div>
    <div class="router-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  @if (isSidebarOpen()) {
    <div class="overlay" (click)="onCloseSidebarClick()"></div>
  }
</div>
