:root {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #ffffff;
  --color-border: #e0e0e0;

  --color-text-primary: #121212;
  --color-text-secondary: #4f4f4f;

  --color-primary: #636ae8;
  --color-primary-hover: #7a80f0;
  --color-primary-focus: #4e54c8;
  --color-primary-focus-rgb: 78, 84, 200;

  --color-secondary: #e8618c;
  --color-secondary-hover: #f07aa0;
  --color-secondary-focus: #bf5473;

  --color-success: #1dd75b;
  --color-success-hover: #2adb6d;
  --color-success-focus: #17b048;
  --color-success-bg-rgb: 29, 215, 91;

  --color-warning: #efb034;
  --color-warning-hover: #f0b540;
  --color-warning-focus: #c7910e;
  --color-warning-bg-rgb: 239, 176, 52;

  --color-danger: #de3b40;
  --color-danger-hover: #e95d5f;
  --color-danger-focus: #991b1b;
  --color-danger-focus-rgb: 153, 27, 27;
  --color-danger-bg-rgb: 222, 59, 64;

  --color-info: #379ae6;
  --color-info-hover: #4ea9f0;
  --color-info-focus: #1f78c9;
  --color-info-bg-rgb: 55, 154, 230;

  --color-primary-focus-rgb: 122, 78, 219;
  --color-danger-focus-rgb: 153, 27, 27;

  --color-text-btn: #ffffff;

  --color-select-bg-hover: #f0f0f0;
  --color-select-bg-selected: #d0d0d0;

  --shadow:
    0 0.25rem 0.625rem rgba(0, 0, 0, 0.08),
    0 1.25rem 3.125rem rgba(0, 0, 0, 0.06);
}
