<div class="public-page-wrapper">
  <div class="card-container">
    <div class="card">
      <div class="card-header">
        <h1>Forgot Your Password?</h1>
        <small class="centered-text">We'll send you a link to reset your password</small>
      </div>
      <div class="card-content">
        @if (inlineErrorMessage()) {
          <div class="inline-error-message-container">
            <div class="inline-error-message">
              {{inlineErrorMessage()}}
            </div>
          </div>
        }
        <form
          class="column-form"
          [formGroup]="forgotPasswordForm"
          (ngSubmit)="onSendEmailClick()"
        >
          <div class="form-fields">
            <div class="form-field">
              <label for="email">Email *</label>
              <input
                id="email"
                type="email"
                placeholder="e.g. john@example.com"
                formControlName="email"
                class="input"
                [class.input-error]="email.touched && email.invalid"
              />
              @if (email.touched && email.invalid) {
                <div>
                  @if (email.hasError('required')) {
                    <small class="error-message">Email is required.</small>
                  }
                  @if (email.hasError('maxlength')) {
                  <small class="error-message">
                    Email must be less than {{ email.getError('maxlength')?.requiredLength }}
                  </small>
                  }
                  @if (email.hasError('email')) {
                    <small class="error-message">Invalid email format.</small>
                  }
                </div>
              }
            </div>
          </div>
          <div class="form-actions">
            <div>
                <a routerLink="/login">← Back to Login</a>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="forgotPasswordForm.invalid">Send Reset Link</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
